<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>main_viewmodel_p_valid_parse_01</key>
	<dict>
		<key>comment</key>
		<string>정상 파라미터 테스트</string>
		<key>given</key>
		<string>{}</string>
		<key>when</key>
		<string>{}</string>
		<key>then</key>
		<string>{&quot;_id&quot;:&quot;5a96be3ed6959500047aecbd&quot;,&quot;en&quot;:&quot;The way to arrest entropy in software is to refactor it.&quot;,&quot;author&quot;:&quot;Joseph Yoder (computer scientist)&quot;,&quot;id&quot;:&quot;5a96be3ed6959500047aecbd&quot;}</string>
		<key>messageKey</key>
		<string>success</string>
	</dict>
	<key>main_viewmodel_p_invalid_parse_01</key>
	<dict>
		<key>comment</key>
		<string>비정상 인풋 테스트</string>
		<key>given</key>
		<string>{}</string>
		<key>when</key>
		<string>{}</string>
		<key>then</key>
		<string>{&quot;error json&quot;}</string>
		<key>messageKey</key>
		<string>error</string>
	</dict>
</dict>
</plist>
